.row
  .large-12.columns
    %p#notice= notice

    %p
      %b Name:
      = @topic.name
    %p
      %b Description:
      = @topic.description
    %p
      %b Subtopics:
      %br
      - @subtopics.each do |subtopic|
        %b= link_to subtopic.name, subtopic
        %br
    .row
      .large-6.columns
        .subtopic-area
          .sub-title.thick Create new subtopic 
          =form_for @new_subtopic do |f|
            = f.text_field :name, :placeholder => 'name'
            = f.text_field :description, :placeholder => 'description' 
            = f.hidden_field :topic_id, value: (params[:id])
            = f.submit 'Submit' , :class => 'button success'
        
      

    = link_to 'Edit', edit_course_topic_path(@course, @topic)
    \|
    = link_to 'Back', course_topics_path
