%p#notice= notice

%p
  %b Name:
  = @proof.name
%p
  %b Video link:
  = @proof.video_link
%p
  %b Content:
  = @proof.content

= link_to 'Edit', edit_proof_path(@proof)
\|
= link_to 'Back', proofs_path
