.row
  .large-12.columns
    %p#notice= notice
    %p
      %b Name:
      = @example.name
    %p
      %b Video:
      .center
        = raw YouTubeAddy.youtube_embed_url(@example.video_link,853,480)
    %p
      %b Content:
      .proof
        = raw @example.content
    = link_to 'Edit', edit_subtopic_example_path
    \|
    = link_to 'Back', subtopic_examples_path
